body, html {
  height: 100%;
}

.bgContainer {
  position: relative;
  z-index: 1;
  background-position: center;
}

.bgContainer::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.bg {
  background-image: url('../images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Nav Styles */
.bgContainer .navbar {
  z-index: 3;
}

.bgContainer .navbar-brand {
  font-size: 2rem;
  color: #ffffff;
}

#navbarNav {
  flex-direction: row;
  justify-content: flex-end;
}

#navbarNav .nav-item {
  border-bottom: 1px solid #ffffff;
  margin-right: 20px;
}

#navbarNav .nav-item.active {
  border-bottom: 3px double #ffffff;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

/* Homepage Style */
.homePageHeader {
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.homePageSummaryContainer {
  position: relative;
  z-index: 4;
  padding-top: 200px;
}

.summary {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
}

.doubleBorder {
  border-bottom: 1rem double #ffffff;
  width: 60%;
  text-align: center;
  margin: auto;
}
